#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.mybtn {
    height: 47px !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

.mybtn:hover {
    background-color: #e8e8e8;
}

#floating-panel {
    position: absolute;
    z-index: 5;
}

#thankInfo {
    position: absolute;
    top: 75px;
    width: 700px;
    margin-left: 55px;
    text-align: center;
}

#bottom-panel {
    position: absolute;
    bottom: 20px;
    right: 120px;
}

#right-panel {
    float: right;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 18px;
    height: 100%;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
/ / padding-left: 10 px;
    border-left: 10px solid #fff;
    width: 400px !important;
    border-left: 10px solid #f57c00;
}

#right-panel h3 {
    color: white;
    font-size: 40px;
    margin: 0;
    padding: 10px;
    padding-right: 20px;
    text-align: center;
}

#right-panel h5 {
    font-size: 1.2rem;
}

#right-panel select, #right-panel input {
    font-size: 20px;
    margin-top: 10px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}

#right-panel .row {
    margin-bottom: 0;
}

.cost, .payments, .cuisine, .vegan, .reservation {
    font-size: 16px;
}

#vegan, #gluten, #lactose {
    display: inline-block;
}

#cuisine img {
    margin: 0px 0px 0px 0px;
    max-width: 75px;
}

#vegan img {
    margin: 0px 0px 0px 8px;
    max-width: 75px;
}

#vegan label span {
    padding: 5px;
}

#cuisine img:hover, #cost img:hover, #payments img:hover, #vegan img:hover, #reservation img:hover {
    opacity: 0.5;
}

#payment img {
    margin: 0px 0px 0px 0px;
    max-width: 75px;
}

#available h5 {
    display: inline-block;
    margin-right: 40px;
}

.form-group {
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
}

.control-label {
    font-weight: normal;
}

#goback {
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
}

/* checkbox*/

[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
    display: none;
}

[type="checkbox"] + label {
    padding-left: 22px !important;
}

.checkbox label {
    height: 45px;
}

.checkbox label span {
    padding: 10px;
}

/* END checkbox*/

/* InfoWindow*/

#infoWindow {
    overflow-x: hidden;
    display: none;
    max-width: 320px;
}

.card-content {
    padding: 0 !important;
}

/* END InfoWindow*/

/* Start Directions */

.adp-warnbox, .adp-legal {
    display: none;
}

/*.adp-marker{
    display: none;
}
*/
#selectMode i {
    font-size: 35px;
}

.trans-mode-wrapper {
    display: inline-block;
    margin: 8px;
}

.trans-mode-wrapper span {
    font-size: 18px;
    display: block;
    text-align: center;
    color: #9e9e9e;
}

/* End Directions */
